
.part-1 {
    height: 55vh
}

.part-2 {
    align-items: center;
    display: flex;
    margin: 100px 5%
}

header {
    color: var(--text-primary-color);
    font-size: 48px
}

.part-1 header {
    left: 10%;
    position: absolute;
    top: 15%
}

.part-2 header {
    color: var(--text-secondary-color);
    display: inline-block;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 3px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000
}

.part-1 img {
    box-shadow: 10px 10px;
    height: 30%;
    position: absolute;
    right: 10%;
    top: 15%;
    width: auto
}

.part-2 img {
    box-shadow: 10px 10px;
    height: auto;
    width: 40%
}

main {
    color: var(--text-primary-color);
    font-size: 18px;
    font-weight: 700
}

.part-1 main {
    left: 10%;
    position: absolute;
    top: 35%;
    width: 40%
}

.part-2 main {
    padding: 50px 0 50px 100px
}

header .title span {
    -webkit-animation: title-intro 5s ease forwards, title-loop 3s ease infinite;
    animation: title-intro 5s ease forwards, title-loop 3s ease infinite;
    color: var(--text-secondary-color);
    display: inline-block;
    font-size: 55px;
    font-weight: 700;
    padding: 5px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 5px 5px 0 #000
}

@media (max-width: 1000px) {
    header .title span {
        font-size: 40px;
        padding: 2px
    }

    .part-1 header {
        font-size: 40px;
        position: static;
        text-align: center
    }

    .part-1 {
        height: auto
    }

    .part-1 main {
        margin: 20px auto;
        position: static;
        text-align: center;
        width: 80%
    }

    .part-1 img {
        height: auto;
        margin: 20px auto;
        position: inherit;
        width: 100%
    }

    .part-2 {
        display: block
    }

    .part-2 img {
        width: 100%
    }

    .part-2 main {
        padding: 10px;
        text-align: center
    }
}