
.navbar {
    background: var(--primary-color);
    top: 600px;
    box-shadow: 10px 10px;
    left: 50%;
    padding: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 90%;
    z-index: 10
}

.navbar.sticky {
    top: 70px;
    bottom: auto;
    position: fixed
}

.menu {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0
}


.hamburger {
    border: none;
    font-size: 1.5em
}

.menu img {
    height: 50px;
    width: auto
}

@media (max-width: 1000px) {
    .navbar {
        margin: 20px;
        position: static;
        transform: translate(0);
        width: auto
    }

    .menu {
        flex-direction: column;
        justify-content: flex-start;
        max-height: 0;
        overflow: hidden;
        transition: max-height .5s cubic-bezier(.22, 1, .36, 1)
    }

    .menu-open {
        max-height: 300px;
        transition: max-height .5s cubic-bezier(.22, 1, .36, 1)
    }

    .menu button {
        min-height: 50px
    }
}