
.navbar {
    background: var(--primary-color);
    bottom: 30%;
    box-shadow: 10px 10px;
    left: 50%;
    padding: 10px;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
    z-index: 10
}

.navbar.sticky {
    bottom: 87%;
    position: fixed
}

.menu {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0
}

@media (max-width: 1000px) {
    .navbar {
        margin: 20px;
        position: static;
        -webkit-transform: translate(0);
        transform: translate(0);
        width: auto
    }

    .menu {
        flex-direction: column;
        justify-content: flex-start;
        max-height: 0;
        overflow: hidden;
        transition: max-height .5s cubic-bezier(.22, 1, .36, 1)
    }

    .menu button {
        min-height: 50px
    }
}

.menu-open {
    max-height: 300px;
    transition: max-height .5s cubic-bezier(.22, 1, .36, 1)
}

.hamburger {
    border: none;
    font-size: 1.5em
}

.menu img {
    height: 50px;
    width: auto
}

.fade-in-section {
    opacity: 0;
    -webkit-transform: scale(.9);
    transform: scale(.9);
    transition: opacity .5s ease-out, -webkit-transform .5s ease-out;
    transition: opacity .5s ease-out, transform .5s ease-out;
    transition: opacity .5s ease-out, transform .5s ease-out, -webkit-transform .5s ease-out
}

.is-visible {
    opacity: 1;
    -webkit-transform: none;
    transform: none
}